#!/usr/bin/env bash
#
# Example config.user file

# Copy some commands and keep their names simple
Fzf::Fs::U::CopyFunc copy Fzf::Fs::U::CopyFunc CopyFunc && {
        CopyFunc copy Fzf::Fs::C::BindKey BindKey
        CopyFunc copy Fzf::Fs::C::Child Child
        CopyFunc copy Fzf::Fs::C::Edit Edit
        CopyFunc copy Fzf::Fs::C::ExpectKey ExpectKey
        CopyFunc copy Fzf::Fs::C::GetKey GetKey
        CopyFunc copy Fzf::Fs::C::LegendKey LegendKey
        CopyFunc copy Fzf::Fs::C::MapKey MapKey
        CopyFunc copy Fzf::Fs::C::Page Page
        CopyFunc copy Fzf::Fs::C::Parent Parent
        CopyFunc copy Fzf::Fs::C::Quit Quit
        CopyFunc copy Fzf::Fs::C::Set Set
        CopyFunc copy Fzf::Fs::C::Shell Shell
        CopyFunc copy Fzf::Fs::C::Toggle Toggle
}

# Start fzf-fs in a specific mode: console, normal or search
Set normal.mode

# Don't run uname to get the kernel name of your system (needed for specifing
# the ls version): Darwin|DragonFly|FreeBSD or OpenBSD or anything else
Set os Linux

# Default terminal emulator window (used in C::Shell)
TERMCMD=${TERMCMD:-terminal.sh}

# Specify the format of ls when long listing has been set: [glno] ...
Set ls.lformat g

# Sort mechanism of ls: atime, ctime, mtime, size or nothing (option -f)
Set ls.sort.bname

# Show specific time in long listing: atime, ctime or mtime
Set ls.time.mtime

# Enable colorisation (shows also the hidden inode number)
Set ls.color

# Turn on long listing format
Set ls.long 0

# Show hidden files (option -a)
Set ls.hidden

# Print human readable sizes
Set ls.h

# Append / indicator to directories
Set ls.p

# Colorization of fzf
Set console.theme.dark
Set consolek.theme.dark
Set normal.theme.dark
Set normalk.theme.dark
Set search.theme.dark
Set searchk.theme.dark
Set set.theme.dark
Set tog.theme.dark

# Specify some search options of fzf
Set search.case smart
Set search.fuzzy
Set search.extended
Set search.criteria "length,index"
Set set.case smart
Set set.fuzzy
Set set.extended
Set set.criteria "length,index"
Set tog.case smart
Set tog.fuzzy
Set tog.extended
Set tog.criteria "length,index"

# vim: set ts=8 sw=8 tw=0 et :
