#!/usr/bin/env bash
#
# Example keybindrc file

# Open Child, Edit, Page and Parent in TERMCMD. Use Quit after Edit and Page
ExpectKey normal alt-l
ExpectKey normal alt-e
ExpectKey normal alt-i
ExpectKey normal alt-h
MapKey normal alt-l \
        "Shell -ft 'fzf-fs -e Child\ {}'";
MapKey normal alt-e \
        "Shell -ft 'fzf-fs -e Edit\ {} -e Quit'";
MapKey normal alt-i \
        "Shell -ft 'fzf-fs -e Page\ {} -e Quit'";
MapKey normal alt-h \
        "Shell -ft 'fzf-fs -e Parent\ 1'";

# vim: set ts=8 sw=8 tw=0 et :
